# General
.idea/
.vscode/
.DS_Store
*.log

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.venv/*
env/
.env
*.db
backend/data/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
